{% extends 'myapp/main.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 offset-5">
            <div class="card border-warning mb-3 me-4 mt-5 shadow-lg" style="min-width: 40rem;">
                <div class="card-header bg-transparent border-warning" style="font-weight:600;">Bill payment</div>
                <div class="card-body text-dark">
                    <h2 class='text-center'>Select where you want to pay bill</h2>
                <form method="post">
                    {% csrf_token %}
                    <label for="accounts"></label>
                        <select id="payment_type" name="pay_class" class="form-control mt-2">
                            <option value="Rent">Rent</option>
                            <option value="Electricity-bill">Electricity-bill</option>
                            <option value="Gas">Gas</option>
                            <option value="broad-band and data-card">Broad-band and data-card</option>
                            <option value="Mobile-recharge">Mobile recharge</option>
                            <option value="club-membership">club membership</option>
                        </select>
                    <br>
                    <label for="accounts">select from which account you want to deposit</label>
                        <select id="account_type" name="type" class="form-control mt-2">
                            <option value="current">current</option>
                            <option value="savings">savings</option>
                        </select>
                    
                    <div class="form-group mt-5">
                        <input type="text" class="form-control" name="deposit" id="deposit" placeholder="Enter amount here" title="Enter appropriate amount" pattern="^[0-9]+(\.[0-9]{1,2})?$"required><br>
                    </div>
                    
                    
                    <input class="btn btn-success" type="submit" value="Pay" style="margin-left:16rem;">
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%if transaction == 'pass' %}
        <script>
                alert('amount successfully transferred from {{customer.name}} for paying {{payment_to}}')
        </script>

{%elif transaction == 'failed' %}
        <script>
            alert('Transaction failed due to insufficient funds')
        </script>
{% endif %}



{%endblock%}